{% extends "base.html" %} {% block title %}Contact{% endblock %} 

{% block content%}

<div class="container">
  <h1 class="text-left">Contact me</h1>
  <div class="mx-auto" style="width: 500px;">
    <ul class="list-inline">
      <li class="list-inline-item"><h4>amanah.lewiswade@gmail.com</h4></li>
      <li class="list-inline-item"><a href="https://www.google.co.uk"><i class="fa fa-google fa-2xl" aria-hidden="true"></i></a> </li>
    </ul> 
    <ul class="list-inline">
      <li class="list-inline-item"><h4>AmanahLW</h4></li>
      <li class="list-inline-item"><a href="https://github.com/AmanahLW"><i class="fa fa-github fa-2xl" aria-hidden="true"></i></a> </li>
    </ul>
    <ul class="list-inline">
      <li class="list-inline-item"><h4>07465209545</h4></li>
      <li class="list-inline-item"><i class="fa-solid fa-mobile-screen-button fa-2xl" aria-hidden="true"></i></li>
    </ul>   
  </div>
</div>
    

{% endblock %} 
