{% extends "base.html" %} {% block title %}Contact{% endblock %} 

{% block content%}

<div class="container">
  <h1 class="text-left">Contact me</h1>
  <div class="mx-auto" style="width: 300px;">
    <ul class="list-inline">
      <li class="list-inline-item">amanah.lewiswade@gmail.com</li>
      <li class="list-inline-item"><a href="https://www.google.co.uk"><i class="fa fa-google" aria-hidden="true"></i></a> </li>
    </ul> 
    <ul class="list-inline">
      <li class="list-inline-item">AmanahLW</li>
      <li class="list-inline-item"><a href="https://github.com/AmanahLW"><i class="fa fa-github" aria-hidden="true"></i></a> </li>
    </ul>  
  </div>
</div>
    

{% endblock %} 
