{% extends "base.html" %} {% block title %}Experience{% endblock %} 

{% block content%}
<div class="mx-auto" >
    <div class="container pl-30 pr-30" id="header">
        <div class="col text-center">
        
            <div class="p-3 "></div>
            <h1 class="text-center">Qualifications</h1>
            <h6 class="text-left"> MSC BIOINFORMATICS, QUEEN MARY UNIVERSITY, LONDON, SEPTEMBER 2021 – SEPTEMBER 2022 </h6>
            <h6 class="text-left"> Awarded: 2:1 </h6>
            <ul class="list-unstyled">
                <ul>
                Modules: Statistics for Bioinformatics (62%), Coding for scientists (57%), Genome Bioinformatics (72%), Post-Genomics (70%) and Software Development Group Project (75%). </p>
                </ul>
            </ul>
            <h6 class="text-left">  BSC (HONS) BIOLOGICAL SCIENCE, UNIVERSITY OF BEDFORDSHIRE, ENGLAND, OCTOBER 2017- JUNE 2020 </h6>
            <h6 class="text-left">  Awarded: 2:1 </h6>

            <h1 class="text-center">Experience</h1>
            <h6 class="text-left">Research Assistant, Wellcome Sanger Institute, Saffron Walden,  November 2020 – July 2021 </h6>
            <ul class="list-unstyled">
                <ul>
              I gained problem-solving and communication skills from working as a Research Assistant within a NGS environement.
              One of my day-to-day duties included processing plates, whereby each plate contained 382 samples.
              Also, during one of my shifts a colleague required help with an error message which occured in response to pipette tips being absent. 
              Therefore, i explained the error message to the team member which described the reason for the plates not being processed by the robot. 
              Lastly, i suggested a soltuion.  	
              As a result, the programme resumed, the plate was processed, and the issue was logged.
              As well as, thounsands of samples underwent QPCR analysis during the quality control stage. 
                </ul>
            </ul>
        
        
            <h6 class="text-left" >  Outreach Associate, University of Bedfordshire, England, 
                <brk> November 2019 - April 2020 </h6>
            <ul class="list-unstyled">
                <ul>
            Presentation skills were demonstrated during outreach activities which were planned within a team of two.
            One of the activities involved explaining different scientific techniques being utilised in the industry. 
            For example, a Microsoft PowerPoint assisted with explaining how CRISPR technology genetically modifies organisms.
            Consequently, the children and their teachers gave positive feedback and asked questions at the end of the session.
                </ul>
            </ul>
                <h1 class="text-center">Skills</h1>
                <ul class="list-unstyled"></ul>
                    <ul> Python, Biopython, R, data structures, algorithms, DNA barcoding, Microsoft Excel, HPC, JSON, API, TCGA, Ensembl, VEP, cBioportal, COSMIC, Uniprot, NCBI databases, Fastqc, Cutadapt, IGV, Snakemake, GATK, Protein data bank, Kegg, Pymol, Reactome, String, Cytoscape, Bcftools, Samtools, Pandas, Bash, Linear models, Hypothesis testing, Bayesian statistics, SVM and PCA.  </ul>   

            
        </div>
        
    </div>
</div>
 
{% endblock %}  

