{% extends "base.html" %} {% block title %}Profile{% endblock %} 
{% block extra_css %}

{% endblock %}

{% block content%}

    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="p-3 "></div>
                <h1 class="text-left">About me</h1>
                <p class="text-left"> Hi there!</p>
                <p class="text-left" > I am an aspiring Bioinformatician, who has found my direction in life by learning about how technology can be used to support scientific research in a variety of ways. 
                This path began when i networked with academics whilst studying a BSc(Hons) in Biological Science.As a result, 
                curiosity was sparked as it was the first occasion i heard of Bioinformatics. 
                To develop my technical skills required for the field and see how it is implemented in industry, 
                i attended a workshop at the Francis Crick instittute, worked as a Research Assistant in a world renowned research instittute and studied a MSc in Bioinformatics. 
                Now i want to use my technical knowledge to support projects which will have a similar impact as a previous project i contributed to when working as a Research Assistant. </p>
            </div>
            <div class="col-md-6">
                <div class="p-3 "></div>
                    <img class="img-fluid" src="../static/images/grad1.jpg" alt=" "> 
                </div>
            </div>
        </div>
    </div>
 
{% endblock %}  


      
