{% extends "base.html" %} {% block title %}Portfolio{% endblock %} 

{%block content%}
<div class="container">
    <h1 class="text-left">Case Studies</h1>
    <div class="row text-center">
        <div class="col-6 col-md-6">
            <div class="p-2 "></div>
            <h6 class="text-left"> A pipeline for identifying variants in zebrafish, April 2022-August 2022</h6>
            <p class="text-left" > Aim:  <br> 
                To fill the gap in the availability of zebrafish (ZF)  variants in a public database.
                <br> 
                To analyse variants and record the analysis in my thesis.
                <br> 
                Objective: <br> 
                To use snakemake to build a standard germline variant calling pipeline.<br> 
                To examine the distribution of variants, quality scores, read depth, genotypes and variant consequences. 
                <br> 
                To examine the population structure using a PCA.<br> 
            </p>
        </div>
        <div class="col-6 col-md-6">
            <div class="p-2 "></div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/oRqf7QzPTvw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div> 
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-6 col-md-6">
            <div class="p-2 "></div>
            <h6 class="text-left"> Integrating transcriptomics and proteomics data from ovarian cancer samples to study the tumour microenvironment, December 2021</h6>
            <p class="text-left" >  Aim:  <br> 
            The investigation will address the effect of high-grade serous ovarian cancer (HGSOC) on the expression of transcript and protein molecules located in the extracellular matrix of the tumour microenvironment.
            <br> 
            Objective: <br> 
            To perform an exploratory analysis of the data. <br> 
            To perform statistical testing to identify genes with a significant correlation to proteins.<br> 
            As well as, statistical testing will be used to identify genes with a significant differential expression.
            </p>
        </div>
        <div class="col-6 col-md-6">
            <div class="p-2 "></div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Hj4uJ0PpxQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div> 
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-6 col-md-6">
            <div class="p-2 "></div>
            <h6 class="text-left"> Evaluate a machine learning tool to diagnose Crohn’s disease using metabolomic data, November 2021</h6>
            <p class="text-left" > Aim:  <br> 
            To evaluate a machine learning (ML) model for the diagnosis of patients with Crohn’s disease, using metabolomic data generated by GC-MS.
            <br> 
            Objective: <br> 
            To train the ML model using data from several sample types to find the model with the most accurate diagnosis. 
            The sample types included  breath, urine, blood and feaces.
            </p>
        </div>
        <div class="col-6 col-md-6">
            <div class="p-2 "></div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/COHq_HGRHlU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div> 
            </div>
        </div>
    </div>
</div>
{%endblock%}